:root {
  --delete-button-bg: #fee3e3;
  --delete-button-icon: #c53030;
  --delete-button-hover-bg: #fed7d7;
  --delete-button-hover-icon: #9b2c2c;
  --delete-button-disabled-bg: #f2f5f8;
  --delete-button-disabled-icon: #9da6b4;
}
