:root {
  /* Base */
  --color-white: #ffffff;

  /* Gray */
  --color-gray-50: #f8f9fa;
  --color-gray-900: #1f2939;

  /* Slate */
  --color-slate-50: #f2f5f8;
  --color-slate-100: #f0f3f7;
  --color-slate-200: #e0e5eb;
  --color-slate-400: #9da6b4;
  --color-slate-500: #5e6674;
  --color-slate-600: #697180;
  --color-slate-900: #1d2432;

  /* Red */
  --color-red-100: #fee3e3;
  --color-red-200: #fed7d7;
  --color-red-600: #c53030;
  --color-red-800: #9b2c2c;
}
