:root {
  --color-white: #ffffff;
  --home-page-bg: #f8f9fa;
  --delete-button-bg: #fee3e3;
  --delete-button-icon: #c53030;
  --delete-button-hover-bg: #fed7d7;
  --delete-button-hover-icon: #9b2c2c;
  --delete-button-disabled-bg: #f2f5f8;
  --delete-button-disabled-icon: #9da6b4;
  --counter-row-type-color: #1d2432;
  --counter-row-text-color: #1f2939;
  --counter-row-location-color: #5e6674;
  --counter-row-hover-bg: #e0e5eb;
  --counter-table-header-bg: #f0f3f7;
}
